/* Add a black background color to the top navigation */

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-width: 100px;
}

nav {
    padding: 20px 75px;
    background-color: #282828;
    overflow: hidden;
}


.navbar-left {
    background-color: #282828;
    overflow: hidden;
    float: left;
  }
  
  /* Style the links inside the navigation bar */
  .navbar-left a, .navbar-right a {
    float: left;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
  }



.dropdown {
    float: left;
    background-color: #282828;
    padding: 15px 20px;
  }

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar-right {
    float: right;

}
  
  /* Change the color of links on hover */
  .navbar-left a:hover, .navbar-right a:hover {
    text-decoration: underline;
  }

  .emp {
    padding: 120px 90px;
    background-color: #282828;
    color: rgba(255, 255, 255, 0.8);
    font-size: x-large;
    font-weight: 200;
  }

  .dropdown-content {
    display: none;
    position: absolute;
  }

  .dropdown:hover .dropdown-content  {
    float: none;
    display: block;
    overflow: visible;
    text-align: left;
    width: 200px;
    margin: 0px;
    border: solid rgba(255, 255, 255, 0.6) 1px;
    
  }

  .dropdown-item {
    padding: 0px;
  }

